<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
               th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<h1>this is new about section</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
			labore laborum quisquam suscipit ad esse soluta dolore eaque
			laudantium quod possimus vero quos ullam? Placeat consequuntur omnis
			aliquam rerum sed nostrum provident dolorum quis mollitia eius iste
			excepturi alias est culpa fugiat quod vel earum consequatur odio nemo
			facilis adipisci.</p>

	</section>


</body>
</html>