<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Conditional Statement in Thymeleaf</title>
</head>
<body>
	<h1>Conditional Statement in Thymeleaf</h1>

	<h1>
		Use is <span th:style="${isActive} ? 'color:green' : 'color:red' "
			th:text="${isActive} ? 'Active' : 'Not Active' "></span>
	</h1>


<h1 th:if="${gender}=='M'" >Male</h1>

<h1 if:unless="${gender}=='M'"> Female</h1>

<div th:switch="${#lists.size(mylist)}">

<h1 th:case="'0'">List contain zero elements</h1>
<h2 th:case="'1'">List contain one elments</h2>
<h2 th:case="*">List contain more than one elments</h2>
</div>


</body>


</html>