<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer Template</title>
</head>
<body>
	<footer id="fragmentTag" th:fragment="footer1(title,subtitle)">
	    <div class="container" >
	    <h1 th:text="${title}"></h1>
	    <h2 th:text="${subtitle}"></h2>
	    <h2></h2>
	    <h2>Provide Good content about Programing</h2>
	    <h1>Feel free to contact and work with me</h1>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id blanditiis iure fugiat adipisci pariatur exercitationem expedita deserunt unde officia necessitatibus recusandae at molestiae autem eum quod numquam dolores esse fugit ipsa maiores ducimus vero ut temporibus quasi delectus rem soluta omnis libero eveniet nisi quisquam sunt asperiores saepe? Rerum asperiores.</p>
	    
	    </div>
	    
	
	</footer>
	
</body>
</html>