<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is about page</title>

</head>
<body>
	<section>
		<div class="container">

			<div class="row">

				<div class="col-md-6 offset-md-3">

					<div class="mycard mt-3">
						<!-- alert message if error/success -->

						<div th:if="${session.message}"
							th:classappend="${session.message.type}"
							class="alert text-center">
							<p th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}">
							</th:block>
						</div>
						<div class="container text-center">
							<img style="width: 80px;" th:src="@{/img/registered.png}" alt="" />
						</div>
						<h1 class="text-center">Register Here</h1>

						<form th:action="@{/do_register}" method="post"
							th:object="${user}">

							<!-- name field -->
								
								<div class="form-group">
										<label for="name-field" 
													class="form-label" >Your Name</label>
										<input 
													type="text" 
													class="form-control"
													th:classappend="${#fields.hasErrors('name')?'is-invalid': ' ' }"													 
													 id="name-field"
													 name="name"
													 th:value="${user.name}" 
													 placeholder="Enter name" required />		
													
													<div th:each="e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback" >sfdf
													</div>
								</div>
							<!-- Name field -->

							<div class="form-group">
								<label for="email_field" class="form-label">Your Email</label> <input
									name="email" type="text" class="form-control" id="email_field"
									aria-describedby="emailHelp" placeholder="Enter here" required
									th:value="${user.email}">

							</div>
							<div class="form-group">
								<label for="password_filed" class="form-label">Your
									Password</label> <input name="password" type="password"
									class="form-control" id="password_field"
									aria-describedby="emailHelp" placeholder="Enter here" required>


							</div>

							<!-- User about field -->

							<div class="form-group">
								<textarea name="about" th:value="${user.about}"
									placeholder="Enter something yourself" rows="6" cols=""
									class="form-control"></textarea>



							</div>

							<!-- terms and conditions agreement -->
							<div class="form-group form-check text-center">
								<input type="checkbox" class="form-check-input" name="agreement" />
								<label for="agreement" class="">Accept terms and
									condition</label>
							</div>


							<div class="container text-center">

								<button type="submit"
									class="btn bg-primary btn-block text-white">Submit</button>

								<button type="reset"
									class="btn btn-warning btn-block text-white">Reset</button>

							</div>



						</form>


					</div>

				</div>


			</div>

		</div>
	</section>

</body>
</html>